In [4]:
import pandas as pd  
import numpy as np   
import seaborn as sns 
import matplotlib.pyplot as plt 
file_path = r"C:\Users\RF\Desktop\test.csv"
data = pd.read_csv(file_path)


data.tail(5)

,test_id,description_x,description_y,same_security
511,511,at&t inc com isin #us00206r1023 sedol #2831811,franklin res inc com isin #us8 sedol #2350684,NaN
512,512,vanguard total international bond index etf,vanguard total international bond et,NaN
513,513,wisdomtree japan hedged equity -,wisdomtree japan hedged eq,NaN
514,514,templeton global bond fund advisor class,templeton glbal bond adv,NaN
515,515,trp health sciences,t. rowe price health sciences fund,NaN

In [14]:
import pandas as pd
import re

file_path = r"C:\Users\RF\Desktop\test.csv"
data = pd.read_csv(file_path)

data = data[['description_x']].copy()

# Define a function to clean the text
def clean_description(text):
    if pd.isnull(text):
        return text
    # Remove ISIN (e.g., US00206R1023)
    text = re.sub(r'\b[A-Z]{2}[A-Z0-9]{9}\b', '', text)
    # Remove SEDOL (e.g., #2831811)
    text = re.sub(r'#\d{7}', '', text)
    # Remove other unwanted symbols or extra spaces
    text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
    text = re.sub(r'\s+', ' ', text)  # remove extra whitespace
    return text.strip()

# Create a new column for cleaned descriptions
data['cleaned_description'] = data['description_x'].apply(clean_description)

# Show the result
data.tail()

,description_x,cleaned_description
511,at&t inc com isin #us00206r1023 sedol #2831811,att inc com isin us00206r1023 sedol
512,vanguard total international bond index etf,vanguard total international bond index etf
513,wisdomtree japan hedged equity -,wisdomtree japan hedged equity
514,templeton global bond fund advisor class,templeton global bond fund advisor class
515,trp health sciences,trp health sciences

In [16]:
import pandas as pd
import re

file_path = r"C:\Users\RF\Desktop\test.csv"
data = pd.read_csv(file_path)

data = data[['description_x']].copy()

# Define a function to clean the text
def clean_description(text):
    if pd.isnull(text):
        return text
    # Remove ISIN (e.g., US00206R1023)
    text = re.sub(r'\b[A-Z]{2}[A-Z0-9]{9}\b', '', text)
    # Remove SEDOL (e.g., #2831811)
    text = re.sub(r'#\d{7}', '', text)
    # Remove other unwanted symbols or extra spaces
    text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
    text = re.sub(r'\s+', ' ', text)  # remove extra whitespace
    return text.strip()

data['cleaned_description'] = data['description_x'].apply(clean_description)

# Show the result
data.tail()
# Save to CSV (adjust path as needed)
output_path = r"C:\Users\RF\Desktop\cleaned_descriptions.csv"
data.to_csv(output_path, index=False)

print("Cleaned data saved successfully!")

Cleaned data saved successfully!